@media only screen and (max-width: 500px) {

	.logo {
		width:75%;
		margin:auto;
		display:block;
	}
	
	#menuP {
		display:inline;
	}
	
	.menu{
		display: none;
	}
	
	#b1 {
		display: none;
	}
	
	.barra{
		text-align:center;
		width:90%;
		margin:auto;	
		display:block;
	}
	
	.Library {
  	margin-left:10px;
  	margin-right:300px;
  	margin-top:25px;
		display:block;
	}

	.Library:hover {
  	margin-left:20px;
		display:block;
	}

	.selec {
		display:block;
  	margin-left:10px;
  	margin-right:300px;
  	margin-top:25px;
	}
	
	.texMenu {
		z-index:1011;
		color: black;
		font-size: 40px;
		font-family: 'Indie Flower', cursive;
		margin-left:140px;
		margin-top:-45px;
		line-height:95%;
	}
	/*-- Home --*/
	.imTexto {	
		left:0;
		right:0;
		margin:auto;
		height:700px;
		width:360px;
	}
	
	p.texPer {
		margin:0;
		padding-left:70px;
		padding-right:55px;
		font-size:16px;
		line-height:95%;
	}

	h1.texPer {
		margin:0;
		padding-left:80px;
		padding-right:60px;
		padding-top:40px;
		font-size:22px;
	}
	/*-----*/
	
	thead, tbody, th, td, tr { 
		display: block; 
	}
	
	table{
		left:0;
		right:0;
		margin:auto;
		padding:0;
		position:relative;
		width: 100%;
		text-align:center;
	}
	
	td { 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		width: 45%;  
	}
	
	.imLiv {
	
		padding-left:0;
 	  height: 200px;
	  width: 350px;
	}
	
	.livro {
		width: 110px;
		height: 100px;
		margin-left: 21px;
		margin-top: 55px;
	}
	
	#tela {
		visibility: hidden;
		width: 350px;
		height: 300px;
		background-size: 100% 95%;
		margin-top:30px;	
	}
	
	#esq {
		width: 140px;
		height: 230px;
		/*background-repeat: no-repeat;
		background-position: center;*/
		float: left;
		margin-left: 35px;
		margin-top: 40px;	
	}
	
	#tEsq{
		font-size: 22px;
		padding-top:0;
	}
	#pEsq{
		font-size: 15px;
	}
	
	#dir {
		width: 120px;
		height: 210px;
		border: solid 1px gray;
		/*background-repeat: no-repeat;
		background-position: center;*/
		float: right;
		margin-right: 35px;
		margin-top: 20px;
	}

	/*-- faq --*/
	.faqs{
		width: 300px;
		height:1200px;
	}

	.perg{
		background-size: 300px 70px;
		width: 300px;
		height: 200px;
	}

	h1.texFAQ{
		font-size: 20px;
		margin-left: 70px;
	}

	p.texFAQ{
		font-size: 17px;
		padding-top: 60px;
		margin-left: 13%;
		margin-right: 14%;
	}
	/*-----*/
}
